version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: corp_portal_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: corp_portal
      POSTGRES_USER: corp_portal
      POSTGRES_PASSWORD: corp_portal
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    container_name: corp_portal_web
    restart: unless-stopped
    depends_on:
      - db
    environment:
      DJANGO_SECRET_KEY: "change-me-in-prod"
      DJANGO_DEBUG: "True"
      DJANGO_ALLOWED_HOSTS: "localhost,127.0.0.1"
      POSTGRES_DB: corp_portal
      POSTGRES_USER: corp_portal
      POSTGRES_PASSWORD: corp_portal
      POSTGRES_HOST: db
      POSTGRES_PORT: "5432"
#      ADMIN_USERNAME: "admin"
#      ADMIN_PASSWORD: "adminpassword"
#      ADMIN_EMAIL: "admin@example.com"
      # EMAIL_* переменные вы можете переопределить в .env
      EMAIL_HOST: "smtp.example.com"
      EMAIL_PORT: "587"
      EMAIL_USE_TLS: "True"
      EMAIL_HOST_USER: ""
      EMAIL_HOST_PASSWORD: ""
      DEFAULT_FROM_EMAIL: "no-reply@example.com"
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ./data:/app/data

  onlyoffice:
    image: onlyoffice/documentserver:latest
    container_name: corp_portal_onlyoffice
    restart: unless-stopped
    depends_on:
      - web
    environment:
      - JWT_ENABLED=false
    ports:
      - "8080:80"
    volumes:
      - ./data:/var/www/onlyoffice/Data



